/* General Styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  header {
    background: url('your-background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  #about img {
    max-width: 250px;
  }
  
  #portfolio .card {
    transition: transform 0.3s;
  }
  
  #portfolio .card:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #333;
  }

  .backg{
    background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment:scroll;
  }

  .second_bright{
    color: yellow;
  }
  
  .theImage{
    width: 400px;
    height: 400px;
    margin: auto;
  }

